#updateuser__Container {
  margin-left: -10px;
}

#updateuser__Container .row .col-md-12 .updateuser__Header {
  margin: 20px 20px 20px -10px;
}

#updateuser__Container .row .col-md-12 .updateuser__Header .emp__Searching {
  width: 300px;
  float: left;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 60px;
}

#btnsearch {
  border: 1px solid #ff1852;
  width: 4em;
}

#searchicon {
  color: white;
}

#updateuser__Container {
  margin-top: 8em;
}

.updateuser__Heading {
  margin-top: 20px;
  font-size: 2em;
  color: #ff2430;
  margin-left: 20px;
  font-weight: 800;
}

#updateuser__Container .row .col-md-12 .updateuser__Table {
  padding: 10px;
  margin-left: -10px !important;
  box-sizing: border-box;
  background-color: #fafafa;
  border-radius: 2em;
}

.form-control {
  border-radius: 0.5em;
}

#updateuser__Container .row .col-md-12 .updateuser__Table .table {
  margin-top: 10px;
  text-align: center;
  overflow: auto;
}

#updateuser__Container .row .col-md-12 .updateuser__Table .table tbody tr td .updateuser__Btn {
  border-radius: 0;
}

#btn__UpdateClose,
#btn__UpdateUpdate {
  border-radius: 0;
}

#modal__Update {
  padding: 20px;
}

.table-dark {
  color: #ff2430;
  background: #3b2a2a;
}


.rdl-filter, .rdl-control {
  display: block;
  border: 1px solid #ff2430;
  border-radius: 2px;
  padding: 20px 19px !important;
  width: 100%;
  color: #333;
  font-size: 16px !important;
  line-height: 10px !important;
}


.rdl-control option{
  padding-top: 15px;
  padding-bottom: 15px;
}


.rdl-control option:focus{
  padding-top: 15px;
  padding-bottom: 15px;
}

.react-dual-listbox {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.dualListBoxContainer{
  margin-bottom: 75px;
}

.assignvehbutton{
  float: right;
}