.card {
  border: none;
  padding: 10px;

  border-radius: 30px;
}

.CustomerCompletedCards {
  background: linear-gradient(to right, #ee215a, #f86017);
}

.card .cardCx__Header {
  width: 100%;
  padding: 10px;
}

.CustomerOrdersHeader {
  font-size: 28px !important;
  font-weight: 500;
  color: white;
}

.cardCx__Heading {
  font-size: 22px !important;
}

.card .cardCx__Header .CustomerOrdersHeader {
  text-align: center !important;
  color: #fff;
}

.card .cardCx__Count {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card .cardCx__Count .cardCx__Num {
  font-size: 70px;
  color: #fff;
  font-weight: bolder;
}

.card .cardCx__Count .fa-check {
  font-size: 80px;
  opacity: 0.5;
  margin-top: 0px;
  color: #fff;
}

.fas {
  size: 5ex;
}