@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.sidebar {
  flex: 1;
  height: calc(100vh);
  background-color: #222230;
  position:fixed;
  width: 298px;
  overflow: auto;
  font-family: "Poppins", sans-serif;
}

.logo {
  padding-left: 40px;
  padding-top: 1em;
}

.topbar__Logo {
  width: 90%;
  height: 105%;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebarWrapper {
  color: rgb(255, 255, 255);
  margin-top: 10px;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 2em;
  color: rgb(202, 193, 193);
  padding-top: 0.5em;
  padding-left: 1em;
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarList .NavLink {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.sidebarListItem {
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  display: flex;
  width: 100%;
}

.sidebarListItem.active {
  margin-bottom: 5px;
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}

.arrow {
  position: absolute;
  right: 20px;
}

.list-container {
  padding-left: 40px;
}

.arrow {
  transform: rotate(360deg);
  transition: all 0.5s ease;
}

.arrow.up {
  transform: rotate(180deg);
  transition: all 0.5s ease;
}

.list-container a {
  display: block;
  padding: 10px;
  margin-bottom: 5px;
  left: 0 !important;
}

.list-container a.active,
.list-container a:hover {
  background-color: #583170;
  width: 100%;
  height: 100%;
}

#sidebar_heading {
  font-size: 1.5em;
}
