.bgcontainer {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, #1c1f2b, #13151d);
}

.cardcontentsignup {
  overflow: hidden;
  border: 0 !important;
  border-radius: 0px !important;
  box-shadow: 0 1rem 1rem 0rem rgba(0, 0, 0, 0.096);
  width: 120vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#cardContent {
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255)) !important;
  padding: 0px !important;
}



.img-left {
  width: 50%;
  background: url('../images/signupsidecover.png') center;
  background-size: cover;
}

.clbodysignup {
  padding-top: 10px;
  padding-bottom: 10px;
}

.selectOpt {
  width: 100%;
  height: 45px;
  font-size: 14px;
  padding-left: 40px;
  margin-bottom: 2px;
  box-sizing: border-box;
  box-shadow: none;
  border: 1px solid #00000020;
  border-radius: 50px;
  outline: none;
  background: transparent;
}

.selectOpt:focus, .selectOpt:hover {
  background-color: white;
}

.selectOpt:focus {
  border: 2px solid #FF0066;
  transition: 0.5s;

}


.title {
  margin-bottom: 2rem;
  font-size: 22px;
}

.form-input {
  margin-bottom: 10px;
}

.form-input input:valid {
  width: 100%;
  height: 45px;
  font-size: 14px;
  padding-left: 40px;
  margin-bottom: 2px;
  box-sizing: border-box;
  box-shadow: none;
  border: 1px solid #00000020;
  border-radius: 50px;
  outline: none;
  background: transparent;
}

.titleMainSides{
  color: #0f0f0f !important;
}

.form-input span {
  position: absolute;
  top: 14px !important;
  padding-left: 15px;
  color: #FF0066;
}


.form-input input.error {
  margin-bottom: 2px;
}


.form-input .faicon {
  position: absolute;
  top: 12px;
  padding-left: 15px;
  color: #FF0066;
}

.form-input input::placeholder {
  color: #454b69;
  padding-left: 0px;
}

.form-input input:focus {
  border: 2px solid #FF0066;
  transition: 0.5s;
}

.form-input input:focus::placeholder {
  color: #454b69;
}

.form-input .spanerror {
  position: static !important;
  font-size: 12px;
  font-weight: 200;
  color: red;
}

.signupButton{
  padding-left: 20px !important;
  padding-right: 20px !important;
  font-weight: 500 !important;
}



.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #007bff !important;
  border: 0px;
}

.form-box button[type="submit"] {
  margin-top: 0px !important;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  background: #FF0066;
  color: #fff;
  font-size: 90%;
  font-weight: bold;
  letter-spacing: .1rem;
  transition: 0.5s;
  padding: 12px;
}

.form-box button[type="submit"]:hover {
  background: #FF0066;
}


@media only screen and (max-width: 600px) {
  .cardcontentsignup {
    overflow: hidden;
    border: 0 !important;
    border-radius: 20px !important;
    width: 90%;
  }
}

.error {
  color: rgb(255, 97, 97);
  font-size: 12px;
}